*, html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* navbar */
header {
  /* margin: 0 auto; */
}
nav {
  /* margin: 0 auto; */
  padding: 20px 15px; 
  font-weight: bold;
}
ul {
  color: rgb(94, 130, 228);
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  /* justify-content: space-between; */
}
li {
  display: inline;
  width: 10%;
}
ul li {
  /* justify-content: space-between; */
}
#courses {
  padding-right: 5px;
}
#search {
  background-color: #eeebeb;
  padding: 5px 20px 5px 5px;
  margin: 0;
}
#magnifyingGlass {
  padding: 5px;
  background-color: #eeebeb;
  margin: 0;
}
#khanAcademyLi {
  width: 30%;
}
#khanAcademySpan {
  color: darkblue;
}

/* hero | 1st row of content */
/* img div */
img {
  /**/
}
#wordsDiv {
  /**/
}

/* buttons */
button {
  padding: 10px 10px;
  background-color: #4169E1;
  border: none;
  border-radius: 10%;
}
button a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* why khan academy works */